<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">YelpCamp</a>
            <div class="collapse navbar-collapse my-2 justify-content-end">
                <ul class="nav navbar-nav">
                    <% if(!currentUser){ %>
                        <li><a class="nav-link" href="/login">Login</a></li>
                        <li><a class="nav-link" href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li><a class="nav-link" href="#">Hi, <%= currentUser.username %></a></li>
                        <li><a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>